@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#intro{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #FA804C;
}
#intro1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #363958;

}

imgx{
    background-color: #F1F1F1;
    border-radius: 20px;
    margin: 5px;
}
imgback{
    
    border-radius: 20px;
    
}

ibody{

    background-color: #363958;
}

rad{
    border-radius: 20px;
}

#shop-title{
    font-family: 'Bebas Neue', cursive;

}